.container {
    background-color: #333;
    padding: 10px;
}

nav{
    display: flex;
    flex-direction: row
}

@media (max-width:768px) {
    nav{
    flex-direction: column;
    }

    .container {
        background-color: red;
    }
}

.container div {
    display: inline-block;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

a:hover {
    background: #555;
}

aside {
    background-color: yellow;
}

article {
    background-color: cyan;
}